@font-face {
    font-family: fight;
    src: url(./FIGHTT3_.ttf);
}


body{
    margin: 0;
    padding: 0;
}


.container{
    display: flex;
}
/* .form-img img{
    width: 100%;
    height: 100vh;
} */

/* .desc{
    background-color: red;
    height: 300px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    padding: 8px;
    width: 71.5%;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 0;
    margin: 0;
} */

/* .desc .title{
    font-family: Impact, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: xx-large;
    color: #FF98BF;
} */

li{
    list-style: none;
    color: red;
}

ol span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: pink;
}

.container{
    background-image: url(./bodyback.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    /* border: 2px solid red; */
    width: 75%;
    /* background-color: #0B141B;  */
    height: 100vh;
    margin: 0;
}

.form form{
    border: 5px solid #3d3d3d;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
    gap: 3px;
    width: fit-content;
    height: 60%;
    /* background-color: black; */
}

form .name, form .contact, form .password{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    left: 40px;
}

input{
    width: 300px;
    height: 25px;
    border: 3px solid red;
    border-radius: 2px;
    font-family: fight;
    letter-spacing: 2px;
    /* background-color: black; */
    color: rgb(237, 13, 88);
    font-size: larger;
}

input:focus{
    border-color: red;
    outline: none;
    color: #040a7d;
}

.button{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

legend{
    font-family: fight;
    letter-spacing: 1px;
    font-size: xx-large;
    color: red;
    animation: blinkLegend 3s linear infinite;
}

label{
    font-family: fight;
    color: red;
    letter-spacing: 2px;
    font-size: larger;
}

label:focus{
    color: #FF98BF;
}

legend:hover{
    color: #ff0490;
    cursor: default;
}

.button span{
    color: white;

}

a{
    text-decoration: none;
    color:#ff0490;
}

.link , a{
    font-family: fight;
    font-size: larger;
    letter-spacing: 2px;
}

.link span{
    color: red;
} 

.footer span{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    color: brown;
    font-size: larger;
}

@keyframes blinkLegend{
    20%{
        opacity:0
    }
    21%{
        opacity: 1
    }
    30%{
        opacity: 0;
    }
    31%{
        opacity: 1;
    }
}