@font-face {
    font-family: fight;
    src: url(./FIGHTT3_.ttf);
}


body{
    margin: 0;
    padding: 0;
}


.container{
    display: flex;
}
.form-img img{
    width: 100%;
    height: 100vh;
}

/* .desc{
    background-color: red;
    height: 300px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    padding: 8px;
    width: 71.5%;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 0;
    margin: 0;
} */

.desc .title{
    font-family: Impact, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: xx-large;
    color: #FF98BF;
}

li{
    list-style: none;
    color: red;
}

ol span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: pink;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 75%;
    background-color: black;
    height: 100vh;
    margin: 0;
}

.form form{
    border: 3px solid red;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
    gap: 3px;
    width: fit-content;
    height: 60%;
    background-color: black;
}

form .name, form .contact, form .password{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    left: 40px;
}

input{
    width: 300px;
    height: 25px;
    border: 2px solid red;
    border-radius: 3px;
    font-family: fight;
    letter-spacing: 2px;
    background-color: black;
    color: white;
    font-size: larger;
}

input:focus{
    border-color: red;
    outline: none;
    color: #FF98BF;
}

.button{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

legend{
    font-family: fight;
    letter-spacing: 1px;
    font-size: xx-large;
    color: red;
}

label{
    font-family: fight;
    color: red;
    letter-spacing: 2px;
    font-size: larger;
}

label:focus{
    color: #FF98BF;
}

legend:hover{
    color: #ff0490;
    cursor: default;
}

.button span{
    color: white;

}